@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
/*
 *
 *   NEUBOARD - Responsive Admin Theme
 *   Copyright 2014 Authentic Goods Co. http://authenticgoods.co
 *
*/
html {
  height: 100%;
  font-size: 100%;
}
body {
  color: #565656;
  background: #F0F3F3;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   Login, Sign Up, Locked Screen
   ========================================================================== */
#login-wrapper {
  margin: 100px auto;
  background-image: url('../images/login-bg.jpg');
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-position: inherit;
  min-height: 100%;
}
#login-wrapper .logo {
  color: #1d212a;
  font-size: 2em;
  text-transform: uppercase;
  padding: 15px 0 0 15px;
  display: inline-block;
}
#login-wrapper .logo span {
  font-weight: 700;
}
#login-wrapper .logo img {
  margin-top: -5px;
}
#login-wrapper .brand {
  text-align: center;
  padding: 20px 0;
}
#login-wrapper .form-group i {
  position: absolute;
  left: 27px;
  top: 38px;
}

#login-wrapper #email,
#login-wrapper #password,
#login-wrapper #retryPassword{
  padding-left: 32px;
}
#login-wrapper #locked-screen .profile-pic {
  margin: 15px 0;
}
#login-wrapper .panel {
  background: none;opacity: 0.8;
}
#loginLink,#regLink {
  margin-bottom: -20px;
}
#login-wrapper label{
  font-weight:600;
}
.register {
  min-height: 80%;
}

.user-email {
  position: relative;
  top: 16px;
}

a:link,
a:visited {
  outline: none;
  text-decoration: underline;
}
a:hover,
a:active {
  text-decoration: underline;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  color: #424856;
  margin: 0;
}
h1,
.h1 {
  font-size: 1.375em;
}
h2,
.h2 {
  font-size: 1.188em;
}
h3,
.h3 {
  font-size: 1.063em;
}
h4,
.h4 {
  font-size: 0.938em;
}
h5,
.h5 {
  font-size: 0.813em;
}
h6,
.h6 {
  font-size: 0.75em;
}
p {
  font-size: 0.875em;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
::selection {
  background: #fff7dd;
}
::-moz-selection {
  background: #fff7dd;
}

.container {
  position: relative;
  top: 40px;
}

/* posts */
#header {
  z-index: 200;
  height: 60px;
  position: absolute;
  width: 100%;
  margin-right: 0;
}
#header .brand {
  float: left;
  width: 240px;
  height: 60px;
  padding: 0 0 0 10px;
  position: relative;
}
#header .logo {
  color: #1d212a;
  font-size: 1.188em;
  text-transform: uppercase;
  padding: 17px 0 0 10px;
  display: inline-block;
}
#header .logo img {
  margin-right: 6px;
  margin-top: -10px;
}

#header .logo span {
  font-weight: 700;
}
#header .navbar-nav {
  margin: 0;
}
#header .navbar-left {
  float: left;
}
#header .navbar-right {
  float: right;
}
#header .btn i {
  padding: 0;
}

#header .nav li.profile > a:hover,
#header .nav li.profile > a:active,
#header .nav li.profile > a:focus {
  box-shadow: none;
  outline: none!important;
  border: none;
  color: #13161C;
}

#header .arrow {
  border-width: 8px;
  z-index: 10;
}
#header .arrow,
#header .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#header .arrow:after {
  border-width: 7px;
  content: "";
}
#header .arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -8px;
}
#header .arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

@media (max-width: 789px) {
  #header .search {
    width: 155px;
  }
}
@media (max-width: 767px) {
  #header .brand {
    width: 100%;
    padding: 0 0 0 10px;
    text-align: center;
  }
  #header .logo {
    font-size: 1.375em;
    padding: 14px 0 0 0;
  }
  #header .logo img {
    width: 25px;
    margin-right: 5px;
  }
  #header .navbar-left {
    position: absolute;
    left: 0;
  }
  #header .navbar-right {
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 660px) {
  #header .user-nav ul {
    padding-left: 0;
  }
  #header .toggle-navigation.toggle-left {
    float: left;
  }
  #header .toggle-navigation.toggle-left.active {
    background: gray;
  }
  .user-nav ul li {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 479px) {
  #header .dropdown.messages {
    display: none;
  }
}

.main-content-wrapper {
  margin-right: 0;
  padding-top: 60px;
  background: #F0F3F3;
  position: relative;
}
.main-content-wrapper #main-content {
  padding: 15px 15px 0 15px;
  width: 100%;
}
.main-content-wrapper #main-content .h1 {
  margin: 0;
  padding: 0px 10px 40px 10px;
  float: left;
  line-height: 10px;
  font-weight: 300;
  font-size: 1.5em;
}
.main-content-toggle-left {
  margin-left: 0;
}
.main-content-toggle-right {
  margin-right: 240px;
}
.pageheader {
  padding: 15px;
  border-bottom: 1px solid #dce0e6;
  border-top: 1px solid #eee;
  background: #F6F8F8;
  position: relative;
}
.pageheader h2 {
  font-weight: 300;
  margin: 0;
}

.pageheader .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #515050;
  font-family: FontAwesome;
  content: "->";
}
@media (max-width: 767px) {
  .main-content-wrapper {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 660px) {
  .main-content-toggle-left {
    margin-left: 660px;
  }
}
@media only screen and (max-width: 479px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 22px;
  }
}

.progress {
  display: block;
  margin-bottom: 15px;
  background-color: #e6ebed;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress.progress-sm {
  height: 15px;
}
.progress.progress-xs {
  height: 6px;
}
.progress .progress-bar {
  background-color: #556b8d;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress .progress-bar.progress-bar-success {
  background-color: #27b6af;
}
.progress .progress-bar.progress-bar-info {
  background-color: #1f7bb6;
}
.progress .progress-bar.progress-bar-warning {
  background-color: #edce8c;
}
.progress .progress-bar.progress-bar-danger {
  background-color: #e25d5d;
}

.ng-isolate-scope.active {
  border-top: 2px solid #556b8d;
}
.ng-isolate-scope.active .ng-binding {
  margin-right: 0;
}
.social {
  margin: 0;
  padding: 0;
}
.social ul {
  margin: 0;
  padding: 5px;
}
.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}
.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover {
  background: #4060A5;
}



/* ==========================================================================
   Error Pages 404 and 500
   ========================================================================== */
#error-container {
  text-align: center;
  margin: 100px auto 0px;
}
#error-container header h1 {
  font-size: 10em;
}
#error-container header p {
  text-transform: uppercase;
  font-size: 2em;
}
#error-container p {
  margin: 10px 0 20px 0;
}

.preloader .iconWrapper {
  background: none;
  margin: 20% auto;
  height: 150px;
  width: 150px;
}
.preloader .iconWrapper i {
  font-size: 3em;
  color: #000;
}
.preloader-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 200000;
  opacity: .6;
  top: 0;
}
.preloader-inner .iconWrapper {
  background: none;
}
.preloader-inner .iconWrapper i {
  font-size: 3em;
  color: #000;
}


.theme-dark #header {
  background: #fff;
}
.theme-dark #header .brand {
  background: #1D212A;
}
.theme-dark #header .brand .logo {
  color: #fff;
}

.theme-blue #header {
  background: #fff;
}
.theme-blue #header .brand {
  background: #1f7bb6;
}
.theme-blue #header .brand .logo {
  color: #fff;
}
.theme-blue #header button.sidebar-toggle,
.theme-blue #header button#toggle-profile,
.theme-blue #header .nav li.profile > a {
  color: #1d212a;
}
.theme-blue #header button.sidebar-toggle:hover,
.theme-blue #header button.sidebar-toggle:active,
.theme-blue #header button#toggle-profile:hover,
.theme-blue #header button#toggle-profile:active {
  background: #f6f8f8;
}
.theme-blue #header .nav li.profile > a:hover,
.theme-blue #header .nav li.profile > a:active,
.theme-blue #header .nav li.profile > a:focus {
  background: #f6f8f8;
}
.theme-blue .sidebar-left {
  background-color: #1d212a;
}
.theme-blue .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-blue .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-blue .sidebar-left .nav > li.active > a,
.theme-blue .sidebar-left .nav > li.active > a:focus,
.theme-blue .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #1f7bb6;
}
.theme-blue .sidebar-left .nav > li.open > a,
.theme-blue .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-blue.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-blue.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-blue .sidebar-profile {
  background: #13161c;
}
.theme-blue.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-blue.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-blue.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-blue .sidebar-left .nav > li.active > a,
.theme-blue .sidebar-left .nav > li.active > a:focus,
.theme-blue .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #1f7bb6;
}
.theme-blue.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-blue.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-blue-full #header {
  background: #1f7bb6;
}
.theme-blue-full #header .brand {
  background: #1f7bb6;
}
.theme-blue-full #header .brand .logo {
  color: #fff;
}
.theme-blue-full #header button.sidebar-toggle,
.theme-blue-full #header button#toggle-profile,
.theme-blue-full #header .nav li.profile > a {
  color: #fff;
}
.theme-blue-full #header button.sidebar-toggle:hover,
.theme-blue-full #header button.sidebar-toggle:active,
.theme-blue-full #header button#toggle-profile:hover,
.theme-blue-full #header button#toggle-profile:active {
  background: #238acc;
}
.theme-blue-full #header .nav li.profile > a:hover,
.theme-blue-full #header .nav li.profile > a:active,
.theme-blue-full #header .nav li.profile > a:focus {
  background: #238acc;
}
.theme-blue-full .sidebar-left {
  background-color: #1d212a;
}
.theme-blue-full .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-blue-full .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-blue-full .sidebar-left .nav > li.active > a,
.theme-blue-full .sidebar-left .nav > li.active > a:focus,
.theme-blue-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #1f7bb6;
}
.theme-blue-full .sidebar-left .nav > li.open > a,
.theme-blue-full .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-blue-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-blue-full.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-blue-full .sidebar-profile {
  background: #13161c;
}
.theme-blue-full.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-blue-full.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-blue-full.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-blue-full .sidebar-left .nav > li.active > a,
.theme-blue-full .sidebar-left .nav > li.active > a:focus,
.theme-blue-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #1f7bb6;
}
.theme-blue-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-blue-full.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-grey #header {
  background: #fff;
}
.theme-grey #header .brand {
  background: #909aa0;
}
.theme-grey #header .brand .logo {
  color: #fff;
}
.theme-grey #header button.sidebar-toggle,
.theme-grey #header button#toggle-profile,
.theme-grey #header .nav li.profile > a {
  color: #1d212a;
}
.theme-grey #header button.sidebar-toggle:hover,
.theme-grey #header button.sidebar-toggle:active,
.theme-grey #header button#toggle-profile:hover,
.theme-grey #header button#toggle-profile:active {
  background: #f6f8f8;
}
.theme-grey #header .nav li.profile > a:hover,
.theme-grey #header .nav li.profile > a:active,
.theme-grey #header .nav li.profile > a:focus {
  background: #f6f8f8;
}
.theme-grey .sidebar-left {
  background-color: #1d212a;
}
.theme-grey .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-grey .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-grey .sidebar-left .nav > li.active > a,
.theme-grey .sidebar-left .nav > li.active > a:focus,
.theme-grey .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #909aa0;
}
.theme-grey .sidebar-left .nav > li.open > a,
.theme-grey .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-grey.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-grey.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-grey .sidebar-profile {
  background: #13161c;
}
.theme-grey.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-grey.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-grey.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-grey .sidebar-left .nav > li.active > a,
.theme-grey .sidebar-left .nav > li.active > a:focus,
.theme-grey .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #909aa0;
}
.theme-grey.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-grey.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-grey-full #header {
  background: #909aa0;
}
.theme-grey-full #header .brand {
  background: #909aa0;
}
.theme-grey-full #header .brand .logo {
  color: #fff;
}
.theme-grey-full #header button.sidebar-toggle,
.theme-grey-full #header button#toggle-profile,
.theme-grey-full #header .nav li.profile > a {
  color: #fff;
}
.theme-grey-full #header button.sidebar-toggle:hover,
.theme-grey-full #header button.sidebar-toggle:active,
.theme-grey-full #header button#toggle-profile:hover,
.theme-grey-full #header button#toggle-profile:active {
  background: #9ea7ac;
}
.theme-grey-full #header .nav li.profile > a:hover,
.theme-grey-full #header .nav li.profile > a:active,
.theme-grey-full #header .nav li.profile > a:focus {
  background: #9ea7ac;
}
.theme-grey-full .sidebar-left {
  background-color: #1d212a;
}
.theme-grey-full .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-grey-full .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-grey-full .sidebar-left .nav > li.active > a,
.theme-grey-full .sidebar-left .nav > li.active > a:focus,
.theme-grey-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #909aa0;
}
.theme-grey-full .sidebar-left .nav > li.open > a,
.theme-grey-full .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-grey-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-grey-full.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-grey-full .sidebar-profile {
  background: #13161c;
}
.theme-grey-full.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-grey-full.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-grey-full.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-grey-full .sidebar-left .nav > li.active > a,
.theme-grey-full .sidebar-left .nav > li.active > a:focus,
.theme-grey-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #909aa0;
}
.theme-grey-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-grey-full.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-green #header {
  background: #fff;
}
.theme-green #header .brand {
  background: #27b6af;
}
.theme-green #header .brand .logo {
  color: #fff;
}
.theme-green #header button.sidebar-toggle,
.theme-green #header button#toggle-profile,
.theme-green #header .nav li.profile > a {
  color: #1d212a;
}
.theme-green #header button.sidebar-toggle:hover,
.theme-green #header button.sidebar-toggle:active,
.theme-green #header button#toggle-profile:hover,
.theme-green #header button#toggle-profile:active {
  background: #f6f8f8;
}
.theme-green #header .nav li.profile > a:hover,
.theme-green #header .nav li.profile > a:active,
.theme-green #header .nav li.profile > a:focus {
  background: #f6f8f8;
}
.theme-green .sidebar-left {
  background-color: #1d212a;
}
.theme-green .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-green .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-green .sidebar-left .nav > li.active > a,
.theme-green .sidebar-left .nav > li.active > a:focus,
.theme-green .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #27b6af;
}
.theme-green .sidebar-left .nav > li.open > a,
.theme-green .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-green.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-green.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-green .sidebar-profile {
  background: #13161c;
}
.theme-green.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-green.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-green.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-green .sidebar-left .nav > li.active > a,
.theme-green .sidebar-left .nav > li.active > a:focus,
.theme-green .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #27b6af;
}
.theme-green.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-green.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-green-full #header {
  background: #27b6af;
}
.theme-green-full #header .brand {
  background: #27b6af;
}
.theme-green-full #header .brand .logo {
  color: #fff;
}
.theme-green-full #header button.sidebar-toggle,
.theme-green-full #header button#toggle-profile,
.theme-green-full #header .nav li.profile > a {
  color: #fff;
}
.theme-green-full #header button.sidebar-toggle:hover,
.theme-green-full #header button.sidebar-toggle:active,
.theme-green-full #header button#toggle-profile:hover,
.theme-green-full #header button#toggle-profile:active {
  background: #2ccbc3;
}
.theme-green-full #header .nav li.profile > a:hover,
.theme-green-full #header .nav li.profile > a:active,
.theme-green-full #header .nav li.profile > a:focus {
  background: #2ccbc3;
}
.theme-green-full .sidebar-left {
  background-color: #1d212a;
}
.theme-green-full .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-green-full .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-green-full .sidebar-left .nav > li.active > a,
.theme-green-full .sidebar-left .nav > li.active > a:focus,
.theme-green-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #27b6af;
}
.theme-green-full .sidebar-left .nav > li.open > a,
.theme-green-full .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-green-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-green-full.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-green-full .sidebar-profile {
  background: #13161c;
}
.theme-green-full.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-green-full.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-green-full.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-green-full .sidebar-left .nav > li.active > a,
.theme-green-full .sidebar-left .nav > li.active > a:focus,
.theme-green-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #27b6af;
}
.theme-green-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-green-full.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-red #header {
  background: #fff;
}
.theme-red #header .brand {
  background: #e25d5d;
}
.theme-red #header .brand .logo {
  color: #fff;
}
.theme-red #header button.sidebar-toggle,
.theme-red #header button#toggle-profile,
.theme-red #header .nav li.profile > a {
  color: #1d212a;
}
.theme-red #header button.sidebar-toggle:hover,
.theme-red #header button.sidebar-toggle:active,
.theme-red #header button#toggle-profile:hover,
.theme-red #header button#toggle-profile:active {
  background: #f6f8f8;
}
.theme-red #header .nav li.profile > a:hover,
.theme-red #header .nav li.profile > a:active,
.theme-red #header .nav li.profile > a:focus {
  background: #f6f8f8;
}
.theme-red .sidebar-left {
  background-color: #1d212a;
}
.theme-red .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-red .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-red .sidebar-left .nav > li.active > a,
.theme-red .sidebar-left .nav > li.active > a:focus,
.theme-red .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #e25d5d;
}
.theme-red .sidebar-left .nav > li.open > a,
.theme-red .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-red.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-red.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-red .sidebar-profile {
  background: #13161c;
}
.theme-red.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-red.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-red.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-red .sidebar-left .nav > li.active > a,
.theme-red .sidebar-left .nav > li.active > a:focus,
.theme-red .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #e25d5d;
}
.theme-red.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-red.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-red-full #header {
  background: #e25d5d;
}
.theme-red-full #header .brand {
  background: #e25d5d;
}
.theme-red-full #header .brand .logo {
  color: #fff;
}
.theme-red-full #header button.sidebar-toggle,
.theme-red-full #header button#toggle-profile,
.theme-red-full #header .nav li.profile > a {
  color: #fff;
}
.theme-red-full #header button.sidebar-toggle:hover,
.theme-red-full #header button.sidebar-toggle:active,
.theme-red-full #header button#toggle-profile:hover,
.theme-red-full #header button#toggle-profile:active {
  background: #e67373;
}
.theme-red-full #header .nav li.profile > a:hover,
.theme-red-full #header .nav li.profile > a:active,
.theme-red-full #header .nav li.profile > a:focus {
  background: #e67373;
}
.theme-red-full .sidebar-left {
  background-color: #1d212a;
}
.theme-red-full .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-red-full .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-red-full .sidebar-left .nav > li.active > a,
.theme-red-full .sidebar-left .nav > li.active > a:focus,
.theme-red-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #e25d5d;
}
.theme-red-full .sidebar-left .nav > li.open > a,
.theme-red-full .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-red-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-red-full.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-red-full .sidebar-profile {
  background: #13161c;
}
.theme-red-full.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-red-full.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-red-full.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-red-full .sidebar-left .nav > li.active > a,
.theme-red-full .sidebar-left .nav > li.active > a:focus,
.theme-red-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #e25d5d;
}
.theme-red-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-red-full.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}
.theme-dark-blue-full #header {
  background: #556b8d;
}
.theme-dark-blue-full #header .brand {
  background: #556b8d;
}
.theme-dark-blue-full #header .brand .logo {
  color: #fff;
}
.theme-dark-blue-full #header button.sidebar-toggle,
.theme-dark-blue-full #header button#toggle-profile,
.theme-dark-blue-full #header .nav li.profile > a {
  color: #fff;
}
.theme-dark-blue-full #header button.sidebar-toggle:hover,
.theme-dark-blue-full #header button.sidebar-toggle:active,
.theme-dark-blue-full #header button#toggle-profile:hover,
.theme-dark-blue-full #header button#toggle-profile:active {
  background: #5f779d;
}
.theme-dark-blue-full #header .nav li.profile > a:hover,
.theme-dark-blue-full #header .nav li.profile > a:active,
.theme-dark-blue-full #header .nav li.profile > a:focus {
  background: #5f779d;
}
.theme-dark-blue-full .sidebar-left {
  background-color: #1d212a;
}
.theme-dark-blue-full .sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-dark-blue-full .sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-dark-blue-full .sidebar-left .nav > li.active > a,
.theme-dark-blue-full .sidebar-left .nav > li.active > a:focus,
.theme-dark-blue-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #556b8d;
}
.theme-dark-blue-full .sidebar-left .nav > li.open > a,
.theme-dark-blue-full .sidebar-left .nav > li > a:hover {
  color: #1d2939;
  background-color: #ffffff;
}
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > .nav-sub,
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li:hover > .nav-sub {
  background-color: #1d212a;
}
.theme-dark-blue-full .sidebar-profile {
  background: #13161c;
}
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li.active > a,
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li.active > a:focus,
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li.active > a:hover,
.theme-dark-blue-full .sidebar-left .nav > li.active > a,
.theme-dark-blue-full .sidebar-left .nav > li.active > a:focus,
.theme-dark-blue-full .sidebar-left .nav > li.active > a:hover {
  color: #fff;
  background-color: #556b8d;
}
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li.nav-dropdown-open > a,
.theme-dark-blue-full.sidebar-mini .sidebar-left .nav > li:hover > a {
  color: #1d2939;
  background-color: #fff;
}

.clickable {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
/*!
 * angular-loading-bar v0.5.2
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2014 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 25%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  font-size: 100px; /* 1em */
	width: 1em;
    height: 1em;
    position: relative;
    margin: 100px auto;

    /* Styles */
    border-radius: 50%;
    background: #FF4F72; /* Fallback */
    background:
        linear-gradient(#C1C9F4 50%, #D4F7E0 50%), /* First column */
        linear-gradient(#D4F7E0 50%, #C1C9F4 50%); /* Second column */
    background-position:
    	0 0,    /* Position of 1st column */
    	100% 0; /* Position of 2nd column */
    background-size: 50% 100%; /* Contraction of "50% 100%, 50% 100%" */
    background-repeat: no-repeat;
    box-shadow:
    	inset 0 0 0 .12em rgba(0,0,0,0.2), /* Inner border */
    	0 0 0 .12em rgba(255,255,255,0.1); /* Outter border */
    opacity: 0.7;
    animation: rota 3s infinite alternate;
}

@keyframes rota {
    25%  { transform: rotate(270deg); }
    50%  { transform: rotate( 90deg); }
    75%  { transform: rotate(360deg); }
    100% { transform: rotate(180deg); }
}

.panel-body {
    pading-bottom:5px;
}
.btn-success {
    background: #27B6AF;
    font-weight:600;
}
.disabled {
    cursor: not-allowed;
}

.form-control {
  padding: 5px 12px 9px 12px;
}

.btn.btn-success {
  font-weight: 600;
  font-size:14px;
  background: #27B6AF;
}

footer {
  padding-right:10px;
  padding-bottom:10px;
}

