<section class="container animated fadeInUp ">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="login-wrapper">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Confirm registration</h3>
                    </div>

                    <div class="panel-body registration">
                        <div class="alert alert-success" ng-show="!error">
                            Registration process is complete
                            <br/>
                            Wait for redirect to home page
                        </div>
                        <div class="alert alert-danger" ng-show="error">
                            Registration process cannot complete
                            <br>
                            Chip 'n Dale: Rescue Rangers
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>